<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Informacion</title>
        <link rel="stylesheet" href="/static/css/estilo.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    </head>
<body>
    <header class="encavd">
        <nav>
            <a href="/">Inicio</a>
            <a href="/informacion">Información</a>
        </nav>
       
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">FAQ</h2>
            <div class="contenedor-sobre-nosotros">
                <div class="contenido-textos">
                    <h3>¿Qué es el web scraping y cómo se relaciona con los reportes?</h3> 
                   <p>
                    El web scraping es un proceso automatizado para extraer información de sitios web. Las páginas que implementan web scraping pueden recopilar datos de diferentes fuentes en línea, como estadísticas, precios, tendencias, entre otros. Un reporte generado mediante scraping es una recopilación de estos datos extraídos de manera estructurada.
                   </p>
                </div>
                <div class="contenido-textos">
                <img src="/static/img/comida4.png" alt=""> 
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Contact</h4>
                <p>info@tca-lapaz.com</p>
            </div>
        </div>
    </footer>
</body>

</html>